<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:include="base/script :: script"/>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" id="username" placeholder="请输入用户名" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" id="sreach" lay-submit="" lay-filter="sreach"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </div>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除
                    </button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','./admin-add.html',600,400)"><i
                            class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-hide" id="table"></table>
                    <script type="text/html" id="createTimeCemplet">
                        {{#
                        if(d.createTime){}}
                        {{layui.util.toDateString(new Date(d.createTime).getTime(), "yyyy-MM-dd") }}
                        {{#}
                        else{}}
                        {{#}}}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var laydate = layui.laydate;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


        var table = layui.table;
        var pageListTable = table.render({
            elem: '#table'
            , url: 'page-list'
            , parseData: parseDataFun
            , cellMinWidth: 80
            , cols: [
                [
                    {field: 'id', title: 'ID'}
                    , {field: 'userName', title: '用户名'}
                    , {field: 'sex', title: '性别'}
                    , {field: 'mobile', title: '手机'}
                    , {field: 'email', title: '邮箱'}
                    , {field: 'roleName', title: '角色'}
                    , {field: 'createTime', title: '加入时间', sort: true, templet: '#createTimeCemplet'}
                    , {field: 'flag', title: '状态'}
                    , {field: '', title: '操作'}
                ]
            ]
            , done: function (res, curr, count) {
                $("[data-field='sex']").children().each(function () {
                    $(this).text($(this).text() == 1 ? "男" : "女");
                });
                $("[data-field='flag']").children().each(function () {
                    $(this).text($(this).text() == 1 ? "启用" : "停用");
                });
            }
            , page: true
        });

        $("#sreach").click(function () {
            pageListTable.reload({
                where: {
                    userName: $("#username").val()
                },
                page:{
                    curr:1
                }
            });
        });
    });

</script>
</html>