<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:include="base/script :: script"/>
<body class="login-bg">


<div class="login layui-anim layui-anim-up">
    <div class="message">股市有风险,投资需谨慎</div>
    <div id="darkbannerwrap"></div>

    <div class="layui-form">
        <input name="username" id="username" placeholder="用户名" type="text" class="layui-input">
        <hr class="hr15">
        <input name="password" id="password" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" id="submit" type="submit">
        <hr class="hr20">
    </div>
</div>


<!-- 底部结束 -->
</body>
<script>

    //layui模块的定义
    layui.use(['notice'], function () {
        var $ = layui.$;
        var notice = layui.notice;

        // 初始化配置，同一样式只需要配置一次，非必须初始化，有默认配置
        notice.options = {
            closeButton: true,//显示关闭按钮
            debug: false,//启用debug
            positionClass: "toast-top-right",//弹出的位置,
            showDuration: "300",//显示的时间
            hideDuration: "1000",//消失的时间
            timeOut: "2000",//停留的时间
            extendedTimeOut: "1000",//控制时间
            showEasing: "swing",//显示时的动画缓冲方式
            hideEasing: "linear",//消失时的动画缓冲方式
            iconClass: 'toast-info', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名
            onclick: null, // 点击关闭回调
        };


        $("#submit").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            $.post("login", {"username": username, "password": password}, function (result) {
                if(result.success){
                    window.location.href="index";
                }else{
                    notice.error("用户名或密码输入有误！");
                }
            });
        });

        //回车事件绑定
        $("body").bind('keyup', function(event) {
            if (event.keyCode == "13") {
                //回车执行查询
                $('#submit').click();
            }
        });
    });

</script>
</html>